:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme='light'] {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

[data-theme='light'] .imgLight {
  display: unset;
}

[data-theme='light'] .imgDark {
  display: none;
}

[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

[data-theme='dark'] .imgLight {
  display: none;
}

[data-theme='dark'] .imgDark {
  display: unset;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}
